* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.wrapper {
  width: 450px;
  background: white;
  padding: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.wrapper h1 {
  height: 50px;
  font-size: 25px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 25px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 20px 45px 20px 20px;
  border-bottom: 2px solid #333;
}

.wrapper .input-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 30px;
}

.wrapper .btn {
  width: 100%;
  height: 40px;
  margin: 16px 0;
  background-color: Ivory;
  border-color: bisque;
  border-radius: 5px;
}

.wrapper .register-link {
  justify-content: space-between;
  font-size: 12.5px;
  text-align: center;
}
