
body{
    margin: 0;
    color: rgb(245, 238, 226);
    background-image: url('background1.vga');
    background-size: cover;
    background-position: center'  
    background-repeat: no-repeat;
    background-attachment: fixed;  
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.register{
    position: relative;
    width: 450px;
    padding: 40px 0;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    
}

.register_form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register_form h2{
    font-size: 32px;s
    font-family:  "Poppins", sans-serif;
    text-align: center;
}

.input-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid  rgb(245, 238, 226);
    font-size: 16px;
    color:  rgb(245, 238, 226);
}

.input-box .icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid: wheat;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family:  "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 10px;
    background:  rgba(245, 238, 226);
}

.register_form p{
    font-size: 15px;
    font-family:  "Poppins", sans-serif;
    text-align: center;
    margin: 20px 0 10px;
}

.register_form p a{
    text-decoration: none;
    font-weight: 600;
    color: #ff4c4c;
}
