body {
  margin: 0;
  color: white;
  background-image: url("armand-khoury-OVeihXMzQHA-unsplash.jpg");
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.register {
  position: relative;
  width: 450px;
  padding: 40px 0;
  background: transparent;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.register_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register_form h2 {
  font-size: 32px;
  text-align: center;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: white;
}

.input-box .icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid transparent;
  outline: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  background: black;
  color: white;
  transition: all 0.3s ease;
}

.button:hover {
  background: #c9a86a;
}

.register_form p {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
}

.register_form p a {
  text-decoration: none;
  font-weight: 600;
  color: #c9a86a;
}

.register .register_form .input-box input:focus {
  border: 2px solid white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .register {
    width: 90%;
    padding: 30px 20px;
  }
  .register_form h2 {
    font-size: 28px;
  }
  .input-box {
    height: 45px;
  }
  .input-box input {
    font-size: 15px;
  }
  .button {
    font-size: 18px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 50px 10px 10px;
    align-items: flex-start;
  }
  .register {
    width: 100%;
    padding: 20px 15px;
    border-radius: 15px;
  }
  .register_form h2 {
    font-size: 24px;
  }
  .input-box {
    height: 40px;
  }
  .input-box input {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
    height: 38px;
  }
}
