
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
    margin: 0;
}

.register{
    position: relative;
    width: 450px;
    padding: 40px 0;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.register_form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register_form h2{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.input-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    color: #333;
}

.input-box .icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 10px;
}

.register_form p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px 0 10px;
}

.register_form p a{
    text-decoration: none;
    font-weight: 600;
}
